*{
	margin:0px;
	padding:0px;
	margin-block-start:0px;	
	margin-block-end:0px;	
}

html{
	scroll-padding-top: 250px;
}
header{
	position:fixed;
	height:111px;
	border: 5px black;
	display:block-start;
	margin:0px;
	width:100%;
	z-index:1;
}

.logocontainer{
	position:relative;
	width:99%;
	float:left;
	background-color:black;
    background:linear-gradient(to right, black 20%,white 80%);	
	border-radius: 20px;
	border:2px solid pink;
	margin:2px;
}
.logocontainer #amdocs{
	float:left;
	width:45%;
	margin-left:1%;
}
.logocontainer #amdocs img {
	width:210;
	height:75px;
	float:left;
}
.logocontainer #amdocs span {
	color:white;
	padding:20px;
	font-size:135%;
	margin:auto, auto;
}
.logocontainer #comcast{
	float:right;
	width:45%;
	margin-right:1px;
}
.logocontainer #comcast img {
	width:210;
	height:107px;
	float:right;
	margin-right:20px;
	
}
.logocontainer #comcast span {
	color:black;
	font-style: italic;
	padding:20px;
	font-size:135%;
	float:right;

}

body{
	position:relative;	
	margin-top: 50%;
	width:100%;
	font-size:large;
	font-weight: lighter;
	padding-left:5px;
	padding-right:5px;
	margin:1px;	
	font-style:none;
	color:midnightblue;
	
}

.sidebar{
	width:17%;	
	float:left;
	position:fixed;
	height:100%;
	top:135px;
	padding-top:5px;
	height: 900px;
    overflow:visible;
	border-right:2px royalblue solid;
	background-color:white;
    /* background-color:black;
    background:linear-gradient( black 20%, rgb(221, 2, 192) 80%); */
}
.menu-holder{
    position:relative;
	height: 100%;
	padding:10px 0px 0px 0px;
    display:table;
	
}

  .side-buttons{
    display:table-row;
    /* background-color: royalblue; */
    float:left;
    width:100%;
    padding:3 0 3 0;
	position:relative;
	}


  .btn-txt-span{
    position:flex;
	float:left;
	width:86%;
    display: table-cell;    
    padding-left:12%;
	padding-top:5px;
	padding-bottom:5px;
	margin:0 1% 0% 1%;
	font-size:medium;	
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color:royalblue;
	color:white;
	border-radius:5px;
  }
  
  .btn-txt-span:hover{
	zoom:102%;
	background-color:white;
	color:royalblue;
	/* background-color:black;
    background:linear-gradient(to right, black 20%, royalblue 80%); */
}



.fixMainSection{
	position:flex;

}

.main{
	float:right;
	clear:right;
	width:80%;
	position:relative;
	top:110px;
}

.dc{
	display:block;
	float:left;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:2px solid royalblue;	
	position:relative;
	width:100%;
}



.buttongroup{	
	
	display:block;
	position:relative;
	background-color:whitesmoke;
	margin-top:2px;
	margin-bottom:8px;
	height: 30px;	
	box-sizing: border-box;
	top:auto;
}

.amdocsbtn{
	padding: 2 10px;
	height:35;
	color:white;
	border:1px solid;
	border-radius: 12px;
	background-color: royalblue;
	position:relative;
	top:auto;
	right:1;
	line-height: 29px;
	text-decoration: dotted;	
}

.learningbtn{
	padding: 2 10px;
	height:35;
	color:black;
	border:1px solid darkorange;
	border-radius: 12px;
	background-color: orange;
	position:relative;
	top:1;
	right:1;	
	line-height: 29px;
	text-decoration: dotted;
}

.amdocsbtn:hover{
	background-color:black;
    background:linear-gradient(to right, black 20%, rgb(221, 2, 192) 80%);
}

.learningbtn:hover{
	background-color:orange;
	background:linear-gradient(to right, rgb(250, 225, 5) 40%, rgb(224, 160, 216) 80%);
 }
.amdocsbtn:visted{
	background-color:white;
    background:linear-gradient(to right, rgb(221, 2, 192) 20%, black 80%);
}

.logo{
	height:30px;
	width:95px;
	margin: 20px 10px;
	border: 1px solid;

}

.dc{
	display:block;
	float:left;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:2px solid royalblue;	
	position:relative;
	width:100%;
}

.h1c{
	padding:10px;
	color:royalblue;	
	border-bottom:2px solid royalblue;
	margin-top:0px;
}	

.h2c{
	font-size:larger;
	margin:1px;
	padding:1px;
	border:1px solid white;
	background-color:lightblue;
	display:block;
	border-radius: 10px;
	padding-left:15px;
	
}

:target{
	color:white; 
	background-color:black;
	background:linear-gradient(to right, black 20%, rgb(221, 2, 192) 80%);
	transition-duration: 500mx;
   }

.pc{
	display:block;
	color:black;
	float:left;
	width:100%;
	font-size:100%;
	background-color:whitesmoke;
	margin-bottom: 3px;	
	border-radius: 10px;
	
}

.h3c{
	color:midnightblue;
	font-size:large;
	font-style:none;
	background-color:lavender;
	margin-top:20px;
	border-radius: 10px;
	padding-left:30px;

}

.ac{
	color:blue;
	font-size:100%;
	padding:1px;
	display:block;
	margin-bottom:20px;
	float:left;
	border-radius:5px;
}


.ac:hover{
	color:white;
	background-color:white;
	background:linear-gradient(to right, rgb(221, 2, 192) 20%, black 80%);
	zoom:101%;
}

.info{
	color:midnightblue; 
	font-style:none; 
	font-size: medium;
	
}

.warning{
	color:red; 
	font-style:none; 
	font-size: medium;

}
.warning::before{
	content:url(./image/warning.png);
	padding-right:5px;
}

.info::before{
	content:url(./image/info.png);
	margin:0px;
	float:bottom;
	padding-right:5px;
}

.mail:hover{
	zoom:105%;
}

.mail::after {
	content: url(./image/email.png);
	position:absolute;
	width:15px;
	height: 15px;
  }


.imagec{
    box-shadow:3px 3px 5px 2px rgba(0,0,0,.2);
    border:2px solid gray;
	margin-bottom:20px;
	border-radius:3px;
	border:1px solid grey;
}

strong{
	color:darkblue;
	text-decoration-style: dotted;
}

ol{
	margin-left:30px;
}
ol li{
	font-size: medium;
	font-weight: lighter;
}

.scroller{
	float:right;
	padding-right:10px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

.rally{
	width:700px; height:363px;clear:right; float:right;
	box-shadow:3px 3px 5px 2px rgba(0,0,0,.2);
}

.pdf{
	width:30px; height:30px;margin-left:auto;margin-top:20px;
	box-shadow:3px 3px 5px 2px rgba(0,0,0,.2);
}


 #visibleheading #collapsible{
	display:none;	
}

 #visibleheading:target #collapsible{
	display:block;	
}
 #hiddenheading:target #collapsible{
	display:block;	
}

